<div class="container">

<form action='/new-post' method='post'>

  <p> Category: </p>
    <input type="radio" name="category" value="tenetur">tenetur<br>
    <input type="radio" name="category" value="labore">labore<br>
    <input type="radio" name="category" value="neque">neque<br>
    <input type="radio" name="category" value="eos">eos<br>
    <input type="radio" name="category" value="magnam">magnam
  <p>
  <input type='textarea' name='title' placeholder="Title"></input>
  <br>

  <input type='textarea' name='description' placeholder="Description"></input>
  <br>

  <input type='textarea' name='price' placeholder="Price ($)" maxlength="5" cols = "5"></input>
  <br>
  <input type='textarea' name='email' placeholder="Email"></input>
  <p>

  <input type='submit'></input>
</form>
</div>
