<div class = "container">

  <p>Categories </p>
  <ul>
    <% Category.all.each do |category| %>
      <li><a href= /<%= category.name %>> <%= category.name %> </a></li>
    <% end %>
  </ul>

  <p>New: </p>
  <a href= /new> New </a>

</div>
