<div class = "container">

  <h2>Categories</h2>
  <ul>
    <% Category.all.each do |category| %>
      <li><a href= /<%= category.name %>> <%= category.name %> </a></li>
    <% end %>
  </ul>
  <br>
  <br>
  <br>



</div>

<div class ="btm-nav">
  <div class ="btm-nav-child">
  <ol>
  <li> <a class="icons" href=/new>new</a> </li>
</ol>
</div>
</div>
