<div class="key-input">
<form action='/edit-key' method='post'>

  <input type='textarea' name='edit_key' placeholder=""></input>
  <input type='submit' style="position: absolute; left: -9999px"/></input>
</form>
</div>
