<div class="container">

<form action='/new-post' method='post'>

  <input type='textarea' name='title' placeholder="Title"></input>
  <br>

  <input type='textarea' name='description' placeholder="Description"></input>
  <br>

  <input type='textarea' name='price' placeholder="Price ($)" maxlength="5" cols = "5"></input>
  <br>
  <input type='textarea' name='email' placeholder="Email"></input>
  <p>

  <p> Category: </p>
    <select name="category">
     <option value="tenetur">Tenetur</option>
     <option value="labore">Labore</option>
     <option value="neque">Neque</option>
     <option value="eos">Eos</option>
     <option value="magnam">Magnam</option>
    </select>
  <p>

    

  <input type='submit'></input>
</form>
</div>


<!-- <form action='/anagram' method='get'>
    <input type='text' name='word' placeholder="Word"></input>
    <input type='submit'></input>
  </form>
 -->
