<div class="new-inputs">

<form action='/new-post' method='post'>

  <input type='textarea' name='title' placeholder="Title*" required></input>
  <br>

  <input type='textarea' name='description' placeholder="Description"></input>
  <br>

  <input type='textarea' name='price' placeholder="Price ($)*" maxlength="10" cols = "10" required></input>
  <br>
  <input type='textarea' name='email' placeholder="Email*" required></input>
  <p>

    <select name="category" required>
     <option value="">Choose a Category</option>
     <option value="tenetur">Tenetur</option>
     <option value="labore">Labore</option>
     <option value="neque">Neque</option>
     <option value="eos">Eos</option>
     <option value="magnam">Magnam</option>
    </select>
  <p>



  <input type='submit'></input>
</form>
</div>
