<br>
<br>
<div id="columns">
    <div class="left column">
        <h2>Edit code</h2>
           <h1> <%= @key %> </h1>
    </div>
    <div class="right column">
        <h2>Edit URL</h2>
        <h1><a href="/edit/<%= @key %>">/edit/<%= @key %></a></h1>
    </div>
</div>
